.tag{
    font-size: var(--body-sm);
    color: var(--text-primary);
    background-color: var(--bg-hover);
    width: max-content;
    padding: var(--spacing-vsm) var(--spacing-sm);
    border-radius: var(--border-rad-vsm);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: fit-content;
}