button{
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-rad-sm);
    font-size: var(--body-lg);
    flex: 1;
}
.button_primary{
    border: var(--border-width) solid var(--border-primary);
    background-color: var(--bg-primary);
    background-color: transparent;
    color: var(--text-primary);
}
.button_primary:hover{
    background-color: var(--bg-hover);
}

/* ============= secondary button ============= */
.button_secondary{
    border: var(--border-width) solid var(--accent-primary);
    background-color: var(--accent-primary);
    color: var(--bg-primary);

}
.button_secondary:hover{
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}

.sm{
    font-size: var(--body-sm);
    padding: var(--spacing-sm) var(--spacing-md);
    max-width: fit-content;
    border-radius: var(--border-rad-sm);
}

.md{
    max-width: fit-content;
}

span.icon{
    height: max-content;
    display: flex;
}