.navbar_section{
    position: sticky;
    top: var(--spacing-xl);
    margin: 0 auto;
    z-index: 1;
    width: max-content;
}
.container{
    width: max-content;
}
.links{
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
    background-color: var(--bg-hover);
    padding: var(--spacing-sm);
    border-radius: var(--border-rad-md);

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.links a{
    display: flex;
    justify-content: center;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-rad-sm);
    color: var(--text-secondary);
}
.links a:hover{
    color: var(--text-primary);
}
.links a.active{
    background-color: var(--bg-primary);
    color: var(--text-primary);
}
