.section{
    background: var(--bg-primary);
}
.container{
    padding: var(--spacing-lg) 0;
}
.tabs_button{
    display: flex;
    gap: var(--spacing-lg);
    width: 100%;
    background-color: var(--bg-hover);
    padding: var(--spacing-sm);
    border-radius: var(--border-rad-sm);
}
.tabs_button button{
    flex: 1;
    font-size: var(--body-lg);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--border-rad-sm);
    border: none;
    outline: none;
    cursor: pointer;

    background-color: transparent;
    color: var(--text-muted);
}
.tabs_button button.active{
    background-color: var(--bg-primary);
    color: var(--text-primary);
}