
/* ============= primary button ============= */
.button_primary{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid var(--border-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    cursor: pointer;
    flex-grow: 1;
    
    
    /* measuring / testing / passed */
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 14px;
    gap: 0.5rem;
}
.button_primary:hover{
    background-color: var(--bg-hover);
}

/* ============= secondary button ============= */
.button_secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid var(--accent-primary);
    background-color: var(--accent-primary);
    color: var(--bg-primary);
    cursor: pointer;
    flex-grow: 1;
    
    /* measuring / testing / passed */
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 14px;
}
.button_secondary:hover{
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}

.sm{
    font-size: 12px;
    max-width: fit-content;
}

.md{
    max-width: fit-content;
}
.test{
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

/* =============== card ============== */
.card{
    background-color: var(--bg-primary);
    border-radius: 0.6rem;
    border: var(--border-width) solid var(--border-primary);
    padding: 1rem;
    width: 25%;
}
.card .date{
    font-size: var(--body-vsm);
    color: var(--text-muted);
}
.card .info{
    font-size: var(--body-md);
    color: var(--text-secondary);
}


