*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ==================== colors ==================== */
    --bg-primary: #0F0F0F;
    --bg-space: #141414;
    --bg-hover: #595959;

    --text-primary: #ffffff;
    --text-secondary: #E6E6E6;
    --text-muted: #999999;

    --border-primary: #595959;
    --border-hover: #CCCCCC;

    --accent-primary: #FFFFFF;
    --accent-hover: #CCCCCC;

    /* ==================== fonts ==================== */
    --heading-font: "Space Grotesk";
    --body-font: "DM Sans";

    --heading-lg: 30px;
    --heading-md: 26px;
    --heading-sm: 22px;

    --body-lg: 16px;
    --body-md: 14px;
    --body-sm: 12px;
    --body-vsm: 10px;

    /* ==================== border radius ==================== */
    --border-rad-lg: 0;
    --border-rad-md: 0;
    --border-rad-sm: 0;

    /* ==================== border width ==================== */
    --border-width: 1px;

    /* ==================== spacing ==================== */
    --spacing-xl5: 0;
    --spacing-xl4: 0;
    --spacing-xl3: 0;
    --spacing-xl2: 0;
    --spacing-xl: 0;
    --spacing-lg: 0;
    --spacing-md: 0;
    --spacing-sm: 0;

}
*{
    transition: all 150ms ease-in-out;
}
body{
    display: flex;

    font-family: var(--body-font);
    /* background-color: var(--bg-primary); */
    color: var(--text-primary);
}
#root{
    display: flex;
    flex-direction: column;
    width: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}
h1{
    font-size: var(--heading-lg);
}
h2{
    font-size: var(--heading-md);
}
h3{
    font-size: var(--heading-sm);
}