*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ==================== colors ==================== */
    --bg-primary: hsl(0, 0%, 8%);
    --bg-space: hsl(0, 0%, 3%);
    --bg-hover: #595959;

    --text-primary: #ffffff;
    --text-secondary: #E6E6E6;
    --text-muted: #999999;

    --border-primary: #595959;
    --border-hover: #CCCCCC;
    
    --accent-primary: #FFFFFF;
    --accent-hover: #CCCCCC;

    /* ==================== fonts ==================== */
    --heading-font: "Space Grotesk";
    --body-font: "DM Sans";

    --heading-lg: 36px;
    --heading-md: 28px;
    --heading-sm: 22px;

    --body-xl: 20px;
    --body-lg: 16px;
    --body-md: 14px;
    --body-sm: 12px;
    --body-vsm: 10px;

    /* ==================== border radius ==================== */
    --border-rad-lg: 0.8rem;
    --border-rad-md: 0.6rem;
    --border-rad-sm: 0.4rem;
    --border-rad-vsm: 0.2rem;

    /* ==================== border width ==================== */
    --border-width: 2px;

    /* ==================== spacing ==================== */
    --spacing-xl5: 32rem;
    --spacing-xl4: 16rem;
    --spacing-xl3: 8rem;
    --spacing-xl2: 4rem;
    --spacing-xl1: 2.5rem;
    --spacing-xl: 2rem;
    --spacing-lg: 1rem;
    --spacing-md: 0.5rem;
    --spacing-sm: 0.25rem;
    --spacing-vsm: 0.15rem;

    /* ==================== container width ==================== */
    --container-width: 750px;

}
*{
    transition: all 150ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
body{
    display: flex;

    font-family: var(--body-font);
    font-size: var(--body-lg);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

#root{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    width: 100%;
    padding: var(--spacing-xl) 0;
}
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}
h1{
    font-size: var(--heading-lg);
}
h2{
    font-size: var(--heading-md);
}
h3{
    font-size: var(--heading-sm);
}
a{
    text-decoration: none;
    color: var(--text-primary);
}

@media (max-width: 900px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 600px) {
    :root{
        --heading-lg: 28px;
        --heading-md: 22px;
        --heading-sm: 18px;

        --body-xl: 18px;
        --body-lg: 14px;
        --body-md: 13px;
        --body-sm: 12px;
        --body-vsm: 10px;
    }
}