.links{
    display: flex;
    gap: var(--spacing-lg);
    align-items: center;
}
.links a{
    display: flex;
    font-size: var(--body-lg);
    color: var(--text-muted);
}
.links a:hover{
    color: var(--text-primary);
}

@media (max-width: 600px) {
    .links a{
        font-size: var(--body-xl);
    }
}